Episode 01 - Inception.mp4

Episode 02 - Igniting our App.mp4

Episode 03 - Laying the foundation.mp4

/node_modules

/dist

/.parcel-cache

Episode 04 - Talk is cheap, show me the code!.mp4
Episode 05 - Let's get Hooked.mp4
Episode 06 - Exploring the world.mp4
Episode 6.1 - Swiggy API  Issue Resolved.mp4
Episode 6.2 - CORS Plugin Issue solved.mp4
Episode 07 - Finding the path.mp4
Episode 08 - Let's get Classy.mp4
Courses links.pdf
VID_20260523_135155_916.mp4
Episode 09.mp4
Episode 10.mp4

/.DS_Store